*{
	font-family: 'Inter', sans-serif;
}
.btn{
	background-color: rgb(0, 126, 103);
	color:white;
}
.ok {
	text-align: center;
	width: 25%;
	padding: 10px;
	background-color: #1e6;
	color: #fff
}
.alert{
	text-align: center;
    background: #ffd000;
    border:2px solid #ff8b06;
    color:white ;
    font-weight: bold;
    padding: 10px;
    width: 25%;
    margin:auto;
}