.alumnos{
    background: white;
    width: 50%;
    margin:auto;
    height: 500px;
}
.estatus{
    border-collapse:collapse;
}
.estatus td{
    max-width: 10%;
    margin:auto;
    min-width: 1%;
    font-size: 12px;
}
.estatus_bueno{
    background-color: green;
    color:white;
}
.estatus_regular{
    background-color: lightgray;
    color:black;
}
.estatus_malo{
    background-color: red;
    color: white;
}