*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin:0;
    padding:0;
    border:0;           
    background: #F0F0F0;
    min-width:600px; 
    font-size:90%;
    font-family: 'Inter', sans-serif;
    margin-left: 80px;
    margin-top: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#resultado {
    width: 100%; 
    max-width: 400px; 
    height: 120px; 
    padding: 12px 20px; 
    margin: 10px 0;
    font-size: 16px; 
    font-family: 'Arial', sans-serif;
    border: 2px solid #ccc;
    border-radius: 8px; 
    outline: none; 
    resize: none; 
    transition: all 0.3s ease; 
}

#resultado:hover {
    border-color: rgb(0,126, 103); 
}

#resultado:focus {
    border-color: rgb(0,126, 103);
}

.contenedor-principal {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.titulo-con-imagen {
    display: flex; 
    align-items: center; 
    gap: 8px; 
}

.titulo-con-imagen h2 {
    margin: 0; 
    font-size: 24px; 
    font-family: Arial, sans-serif;
}

.titulo-con-imagen img {
    width: 18px; 
    height: 18px;
    cursor: pointer;
}
#contenedor-formulario {
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
textarea {
    width: 30%; 
    max-width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px; 
}
button {
    width: auto; 
    padding: 10px 20px;
}
main{
    padding: 20px;
}
header{
    width: 100%;
    height: 80px;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}

.main_title{
    flex: 1;
    margin-left: 20px;
    text-shadow: 1px 1px 1px gray;
}
.date{
    flex: 1;
    background:rgb(0,126, 103);
    border-radius: 20px 0 0 20px ;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 5px;
}
.btnEnviar{
    background: linear-gradient(45deg, #28a745, #218838);
    color: white;
    width: auto;
    height: 40px;
    padding: 0 15px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
.btnEnviar:hover{
    background: linear-gradient(45deg, #218838, #1e7e34);
    cursor: pointer;
}
.btnEnviar:active{
    background: #1c7430;
    transform: scale(0.98);
}

.ic_prefectos {
    width: 30px;
    height: 30px;
    margin-left: -5px;            
    margin-right: 10px;        
    cursor: pointer;
    filter: invert(100%) brightness(100%);
}

.ic_barra {
    width: 20px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
    filter: invert(0%) brightness(0%);
}

.pista{
    background: lightgray;
    border-radius: 50%;
    padding: 3px;
}

#matriculaAuto {
    width: 100%; 
    max-width: 400px; 
    padding: 12px 20px; 
    margin: 10px 0; 
    font-size: 16px; 
    font-family: 'Arial', sans-serif; 
    border: 1px solid #d1d1d1; 
    border-radius: 8px; 
    background-color: #ffffff; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: border-color 0.3s, box-shadow 0.3s;
}


#matriculaAuto:focus {
    border-color: #28a745; 
    outline: none;
}

/*Estilo tabla de registros*/
th {
    background-color: rgb(0, 126, 103);
    color: white;
    word-wrap: break-word; 
    text-align: center;
    padding: 0.4rem; 
    border: 1px solid black;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
td {
    padding: 0.4rem; 
    text-align: center;
    word-wrap: break-word; 
    white-space: normal; 
    border: 1px solid black;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    font-size: 0.9rem; 
    table-layout: auto;
    overflow-x: scroll;
    overflow-y: auto;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}
thead {
    position: sticky;
    top: 0;
}
.icon__menu{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}
.icon__menu i{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}
.mensaje-registro {
    text-align: center;
}
.menu__side{
    width: 80px;
    height: 100%;
    background: rgb(0,126, 103);
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid rgb(0,126, 103);
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar{
    display: none;
}
/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.name__page{
    padding: 20px 25px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    position: relative;
}
.name__page p {
    padding-left: 3px;
}
.options__menu{
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}
.options__menu a{
    color: #ffffffb2;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
}
.options__menu a:hover{
    color: white;
}
.options__menu .option{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}
.options__menu .option i{
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.options__menu .option h4{
    font-weight: 300;
    cursor: pointer;
}
a.selected{
    color: #fff;
}
.selected:before{
    content: '';
    width: 3px;
    height: 80%;
    background: white;
    position: absolute;
    top: 10%;
    left: -30px;
}
/*Clases para usar en JavaScript*/
.body_move{
    margin-left: 250px;
}
.menu__side_move{
    width: 250px;
}
@media screen and (max-width: 760px){
    .body_move{
        margin-left: 0px;
    }
    .menu__side_move{
        width: 80px;
        left: -80px;
    }
}
