h1, p, .img_prefectos {
    text-align: center;
}

body {
    background: #f5f5f5;
}

.main_title {
    flex: 1;
    text-shadow: 1px 1px 1px gray;
    margin-left: 20px;
}

.main {
    font-size: 200%;
}

header {
    display: flex;
}

.current_hour {
    color: rgb(0, 126, 103);
    font-weight: 700;
    text-shadow: 0.5px 0.5px 1px black;
}

.date {
    flex: 1;
    background: rgb(0, 126, 103);
    border-radius: 20px 0 0 20px;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 5px;
}

@keyframes coinFlip {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.img_prefectos img.flip {
    animation: coinFlip 1s ease-in-out;
}

.img_prefectos img {
    height: 100px;
    border-radius: 50%;
    box-shadow: 3px 2px 1px black;
    transition: height .5s;
}

.img_prefectos img:hover {
    height: 120px;
}

/* Animaciones */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-title {
    font-size: 1em;
    font-weight: 700;
    animation: fadeInDown 1s ease-out;
    color: black; /* Cambia el color según tu preferencia */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

