body{
    background: #f5f5f5;
}
.encabezados{
    background: rgb(0,126, 103);
    color:white;
}
header{
    display: flex;
}
.main_title{
    flex: 1;
    margin-left: 20px;
    text-shadow: 1px 1px 1px gray;
}
.date{
    flex: 1;
    background:rgb(0,126, 103);
    border-radius: 20px 0 0 20px ;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 5px;
}
.btnEnviar{
    margin-bottom: 1rem;
    background: #28a745;
    color: white;
    width: 100px;
    height: 35px;
    border: 1px solid #28a745;
}
.btnEnviar:hover{
    cursor: pointer;
}
.btnEnviar:active{
    background-color: rgb(3, 148, 3);
}