
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

/* Estilo de elemento body */
body {
    margin:0;
    padding:0;
    border:0;           
    width:100%;
    background:#F0F0F0;  
    min-width:600px; /* Mínimo de ancho. Si no es necesario puede ser eliminado */
    font-size:90%;
    font-family: 'Inter', sans-serif;
    margin-left: 80px;
    margin-top: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
    
}

main{
    padding: 20px;
}

header{
    width: 100%;
    height: 80px;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}

.icon__menu{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}

.icon__menu i{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}

.menu__side{
    width: 80px;
    height: 100%;
    background: rgb(0,126, 103);
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid rgb(0,126, 103);
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.text-center {
    text-align: left;
    margin-left: 20px;
}

.btn-block, .btn-sm {
    display: inline-flex;
    align-items: center; 
    padding: 5px 10px;
    font-size: 0.875rem;
}
/* Estilo para el botón de exportar */
#btnExportar {
    display: inline-flex; 
    vertical-align: middle;
    align-items: center; 
}
#btnExportar i {
    margin-right: 5px;
}
.text-center {
    text-align: left;
    margin-left: 20px;
}
form {
    margin: 10px 0;
}
label {
    margin-right: 10px;
    margin-bottom: 10px; 
}
input[type="date"] {
    padding: 8px;
    margin-right: 10px;
}
input.form_control {
    width: 150px;
    height: 35px;
    margin-right: 10px;
}
button[type="submit"], #btnExportar, button[type="button"] {
    padding: 8px 15px;
    margin-right: 10px; 
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button[type="submit"]:hover, #btnExportar:hover, button[type="button"]:hover {
    background-color: #218838;
}
.form_control, .text-center h3 {
    margin: 10px 5px;
    padding: 8px;
    display: inline-flex; 
    align-items: center; 
    font-size: 16px;
}
.btn-success {
    padding: 8px 15px;
    margin: 10px 5px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-success:hover {
    background-color: #218838;
}
.btn-block, .btn-sm {
    display: inline-flex;
    align-items: center; 
    padding: 5px 10px;
    font-size: 0.875rem;
}
/* Estilo para el botón de exportar */
#btnExportar {
    display: inline-flex; 
    vertical-align: middle;
    align-items: center; 
}
#btnExportar i {
    margin-right: 5px;
}
/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar{
    display: none;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side{
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.name__page{
    padding: 20px 25px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    position: relative;
}
.name__page p {
    padding-left: 3px;
}
.options__menu{
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}

.options__menu a{
    color: #ffffffb2;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
}

.options__menu a:hover{
    color: white;
}

.options__menu .option{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option i{
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4{
    font-weight: 300;
    cursor: pointer;
}

a.selected{
    color: #fff;
}

.selected:before{
    content: '';
    width: 3px;
    height: 80%;
    background: white;
    position: absolute;
    top: 10%;
    left: -30px;
}

.envoltura {
    position:relative; 
    clear:both;
    float:left;
    width:100%;        
    overflow:hidden;        
}
/* configuración en común de las columnas */
.columnas {
    float:left;
    width:100%;
    position:relative;
}
td, th{
	border-collapse: collapse;
	min-width:150px;
	max-width:150px;
	border: 1px solid black;
}
.col1,
.col2
{
    float: left;
    position: relative;
    padding: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}
/* 2 columnas - configuración para el menú izquierdo */
.envoltura .columnas {
    right:85%;          
    margin-top: 20px;
}
.envoltura .col1 {
    width:83%;          /* el ancho de la columna derecha */
    left:100%;          
    background:#fff;
    padding: 5px;
    min-height: 550px;
}
.envoltura .col2 {
    width:13%;          /* el ancho de la columna izquierda */
    left:2%;            
    background:#fff;
	min-height: 550px;
}


/* Estilo para el encabezado */
.encabezado {
    display: flex;
	justify-content: space-between;
    clear: both;
    float: left;
    width: 99%;
    padding: 5px;
    background-color: rgb(0,126, 103);
	padding-left: 20px;

}

.encabezado h3 {
    margin-right: 800px;
}

.encabezado .cerrar-sesion {
    margin-left: 10px;
    color: #000000;
    padding: 20px 30px; 
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 16px; 
	border: 1px solid black;
	background: #e7e7e7;
	padding-left: -20px;
}

.envoltura .generar{
	margin-left: 10px;
    color: #000000;
    padding: 5px 10px; 
    border-radius: 0px;
    text-decoration: none;
    text-align: center;
    font-size: 14px; 
	border: 1px solid black;
	background: #e7e7e7;
	padding-left: -20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

th, td {
  padding: 0.5rem;
  text-align: center;
}

th {
  background-color: rgb(0,126, 103);
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table {
  border: 1px solid #ccc;
}



.body_move{
    margin-left: 250px;
}

.menu__side_move{
    width: 250px;
}


@media screen and (max-width: 760px){
    .body_move{
        margin-left: 0px;
    }

    .menu__side_move{
        width: 80px;
        left: -80px;
    }
}


.ic_prefectos {
    width: 30px;
    height: 30px;
    margin-left: -5px;            
    margin-right: 10px;        
    cursor: pointer;
    filter: invert(100%) brightness(100%);
}

.ic_barra {
    width: 20px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
    filter: invert(0%) brightness(0%);
}

thead {
    position: sticky;
    top: 0;            
}

.date {
    flex: 1;
    background: rgb(0, 126, 103);
    border-radius: 20px 0 0 20px;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 5px;
}

.main_title {
    flex: 1;
    text-shadow: 1px 1px 1px gray;
    margin-left: 20px;
}