body{
    background: #f5f5f5;
}
.tabla{
    padding: 20px;
    margin: auto;
}
td, th{
	border-collapse: collapse;
	border: 1px solid black;
    min-width: 250px;
    padding: 10px;
}
.main{
    margin: 1rem;
}
.encabezados{
    background: rgb(0,126, 103);
    color:white;
}
.input_nombre{
    margin-top: 1rem;
}

.input_nombre, .input_motivo{
    width: 300px;
    margin-bottom : 1rem; ;
    height: 32px;
    border:1px solid lightgray;
}

.btnEnviar{
    margin-bottom: 1rem;
    background: rgb(58, 58, 247);
    color: white;
    width: 100px;
    height: 32px;
    border: 1px solid rgb(15, 15, 245);
}
.btnEnviar:hover{
    cursor: pointer;
}
.btnEnviar:active{
    background-color: rgb(113, 113, 243);
}